body 
{
background-color:#000;
}

#content 
{
position:fixed !important;
position:absolute;
top:50%;
left:50%;
margin-top:-300px;
margin-left:-400px;
width:800px;
height:600px;
background-color:#fff;
}

#info 
{
width:300px;
float:right;

}
#info h1, #info h2
{
font-size:1.1em;
color:#000;
font-family: 'Copse', arial, serif;
font-weight:normal;
letter-spacing:0px;
text-transform:lowercase;
border-radius:5px;
padding:5px;}

#info h1 a
{
color:#FFF;
padding:5px;
text-decoration:none;
background-color:#000;
border-radius:5px;

}

.button 
{
/*margin-left:60px;*/
}
#info-about .button a 
{
margin-top:-14px;
color:#000;
font-size:1em;
padding:5px;
text-decoration:underline;
border-radius:5px;
}


#info-about
{
background-color:yellow;
border-radius:10px;
width:360px;
padding:10px;
margin-left:-120px;
margin-top:90px;
position: absolute; 
z-index: 4;
font-family: 'Expletus Sans', arial, serif; 
}

#bubble
{
float:right;
margin-top:345px;
margin-left:-140px;
position: absolute; 
z-index: 5;
}

.scrollable
{
	/* required settings */
	position:relative;
	overflow:hidden;
	width: 800px;
	height:200px;
	z-index: 2;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accomodate scrollable items.
	it's enough that you set the width and height for the root element and
	not for this element.
*/
.scrollable .items {
	width:20000em;
	/* this cannot be too large */
	position:absolute;
	clear:both;
}

.items div {
	float:left;
	width:800px;
}

/* single scrollable item */
.scrollable img {
	float:left;
	background-color:#fff;
	width:800px;
	height:200px;
	
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

#top.scrollable img {
	-webkit-mask-box-image: url('../images/static/layer-top.png');
}
#middle.scrollable img {
	-webkit-mask-box-image: url('../images/static/layer-middle.png');
}
#bottom.scrollable img {
	-webkit-mask-box-image: url('../images/static/layer-bottom.png');
}

/* active item */
.scrollable .active {
	border:2px solid #000;
	position:relative;
	cursor:default;
}

#footer {
	font-size:0.6em; 
	color:#bbb; 
	font-family: 'Copse', arial, serif; 
	text-align:center; 
	margin-top: 0em;
}

#footer a {
	color: #fff;
}