body 
{
background-color:#000;
font-family: 'Expletus', arial, serif;
}

#container, #content {
margin: auto;
width:800px;
height:600px;
}

#container {padding-top:1em;}
#content {background-color:#fff; border-bottom:#000;}

ul#menu {padding:0; margin:0;}
ul#menu li {background-color:#fff; display:inline; padding-left:1em; padding-right:1em; padding-top:0.5em; padding-bottom:0.5em; line-height:2em;}
ul#menu li a {color:#000; text-decoration:none; font-family:'Didact Gothic', arial, serif; font-size:0.9em;}
ul#menu li a:hover {text-decoration:underline;}

input.share {border:solid 1px black;}

#info 
{
width:300px;
float:right;
text-align: justify;
padding: 1em;
}

#info h1, #info h2
{
font-size:1.1em;
color:#000;
font-weight:normal;
letter-spacing:0px;
text-transform:lowercase;
border-radius:5px;
padding:5px;}

#info h1 a
{
color:#FFF;
padding:5px;
text-decoration:none;
background-color:#000;
border-radius:5px;
}

.button 
{
font-size: 0.8em;
}
#random {
	font-size: 1.3em;
	color: black;	
}
#info-about .button a 
{
margin-top:-14px;
color:#000;
font-size:1em;
padding:5px;
text-decoration:underline;
border-radius:5px;
}


#info-about
{
	padding: 2em;
}

#bubble
{
float:right;
margin-top:420px;
margin-left:-140px;
position: absolute; 
z-index: 5;
}

#footer {
	font-size:0.6em; 
	color:#bbb; 
	text-align:center; 
	margin-top: 0em;
}

#footer a {
	color: #fff;
}

#top, #middle, #bottom {
	width: 800px;
	height: 200px;
}

#ln-top, #ln-middle, #ln-bottom {
	display: none;
}

p.button {
	text-align: center;
}

p.button a#close {
	font-size: 0.7em;
}